*.py~
*.p~
*.c~
*.hp~
*.dts~
*.sh~
src/v2-2/library/build/
src/v2-2/library/dist/
src/v2-2/library/CountingPRU.egg-info/
src/v2-3/library/build/
src/v2-3/library/dist/
src/v2-3/library/CountingPRU.egg-info/
src/v3-0/library/Python/build/
